/*
 *= require_tree .
 *= require_self
 */
  
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap_fix";
@import "sidebar";
@import "media";
@import "modal";

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');

h1, h2, h3, h4, h5 {
  font-family: 'Roboto';
}

body {
  background-color: #f1f1f1;
  font: 12px 'Open Sans';
  color: #545454;
  padding: 0;
  margin: 0;
}

.box {
  background-color: white;
  border: 1px solid #DCDCDC;
  padding: 25px;
  margin-bottom: -40px;
}

#flash {
  border-radius: 0;
}