.notificacao {
}

.secao-home {
  margin-bottom: 10px;
}

.secao-home-top {
  margin-top: 20px;
  margin-bottom: 10px;
}

.notificacao a, .notificacao a:hover, .notificacao a:visited {
  color: #545454;
}

.notificacao-box, .notificacao-link {
  background-color: white;
  border-style: solid;
  border-color: #DCDCDC;
  border-width: 2px 1px 1px 1px;
}

.notificacao-link {
  font: 14px 'Roboto';
  margin-top: 5px;
  padding: 10px 18px 0px 13px;
  border-top-width: 1px;
  border-left-width: 2px;
}

.border-top-blue {
  border-top-color: #007db2;
  border-left-color: #007db2;
}

.border-top-blue2 {
  border-top-color: #008fcc;
  border-left-color: #008fcc;
}

.border-left-blue {
  border-left-color: #008fcc; 
}

.border-top-green {
  border-top-color: #00C588;
  border-left-color: #00C588;
}

.border-left-green {
  border-left-color: #00C588;
}

.border-top-green2 {
  border-top-color: #00df9a;
  border-left-color: #00df9a;
}

.border-top-ocean {
  border-top-color: #00ADD2;
  border-left-color: #00ADD2;
}

.border-left-ocean {
  border-left-color: #00ADD2; 
}

.border-top-ocean2 {
  border-top-color: #00c2ec;
  border-left-color: #00c2ec;
}