.notificacao {
}

.secao-home {
  margin-bottom: 10px;
}

.secao-home-top {
  margin-top: 20px;
}

.notificacao a, .notificacao a:hover, .notificacao a:visited {
  color: #545454;
}

.notificacao-box {
  background-color: white;
  border-style: solid;
  border-color: #DCDCDC;
  border-width: 2px 1px 1px 1px;
}

.border-top-red {
  border-top-color: #DA4545;
  border-left-color: #DA4545;
}

.border-top-blue {
  border-top-color: #487DB2;
  border-left-color: #487DB2;
}

.border-top-green {
  border-top-color: #80C780;
  border-left-color: #80C780;
}