@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'normalize';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  width: 100%;
  height: 100%;
}

html {
  display: table;
}

body {
  background-color: #f1f1f1;
  font: 12px 'Open Sans';
  color: #545454;
  padding: 0;
  margin: 0;
}

body.devise {
  display: table-cell;
  vertical-align: middle;
}

body.devise > .box {
  display: block;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto';
}

a, a:hover, a:visited {
  text-decoration: none;
}