<div id="modal-holder"></div>

<div class="main-content">

  <nav class="navbar navbar-default">
    <span class="navbar-brand" title="Sistema de Alocação de Projetos"><%= yield :titulo %></span>
    <p class="navbar-text pull-right">Olá, <%= current_member.email %></p>
  </nav>

  <%= render 'layouts/flash' %>

  <%= yield %>
  
</div>